<html>
      <head>
       <title>Angel Store</title>
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

     </head>
     <body>
     	<div class="ui  secondary menu">
    	<div class="ui  container">

        <div class="header item"><i class="heart icon"></i>Angel Store</div>
        <a href="/" class=" item ">Главная</a>
        <a href="/blogs/new" class="item ">Новый букет</a>
    </div>
    
</div>
