<%- include("partials/header") %>
<div class="ui main text container segment">
	<div  class="ui secondory inverted segment">
	  <div class="ui huge header">Новый букет</div>
	    
	        <form class="ui inverted form" action="/blogs" method="POST">
		<div class="field"> 
			<label> Название букета</label>
			<input type="text" name="blog[title]" placeholder="Название букета">
		</div>

		<div class="field"> 
			<label>Фото</label>
		    <input type="text" name="blog[image]" placeholder="Фото">
		</div>

		<div class="field"> 
			<label> Описание</label>
			<textarea rows="6" name="blog[body]"> </textarea>
		</div>

		<div class="field">
                <label>Количество</label>
                  <select class="ui search dropdown" name="blog[count]">
                 <option  value="">Выберите количество</option>
                <option>5</option>
                <option>7</option>
                <option>9</option>
                <option>11</option>
                <option>13</option>
                <option>15</option>
                <option>17</option>
                <option>19</option>
                <option>21</option>
                <option>23</option>
                <option>25</option>
                <option>27</option>
                <option>29</option>
                <option>31</option>
                <option>33</option>
                <option>35</option>
                <option>37</option>
                <option>39</option>
                <option>41</option>
                <option>51</option>
                <option>55</option>
                <option>77</option>
                <option>99</option>
                <option>101</option>
                </select>
           </div>
              <div> 
             <div class="ui left action input">
             	
                 <button class="ui  labeled icon button">
                   <i class="cart icon"></i>
                     Готово
                    </button>
                     <input type="text" placeholder="цена" name="blog[price]" >
                    </div>
		
		       <input type="submit" name="blog[price]" >
		       </div>


	         </form>
	</div>
</div>
<%- include("partials/footer") %>